<h1>Eat Da Burger!!!</h1>
<br>

    <h2>Burgers Available: </h2>
    <ul>
        {{#each foods}} 
        {{#unless devoured}}
        {{> foods/foods-block devoured=true}}
        {{/unless}}
        {{/each}}
    </ul>
    
     
        
            <h2>Devoured Burgers: </h2>
            
            <ul>
            {{#each foods}}
            {{#if devoured}}
            {{> foods/foods-block devoured=false}}
            {{/if}}
            {{/each}}
            </ul>
        

        
            <h2>Add a Burger: </h2>

            <form class="create-form">
            <div class="form-group">
                <label for="dab">Burger Name:</label>
                <input type="text" id="dab" name="burger_name">
            </div>
            <button class="btn btn-primary" type="submit">Add Burger</button>
            
            </form>
        